    <div class="well">
            <form id="{{formId}}" method="POST" action="" novalidate="novalidate">
              {% csrf_token %}
                <div class="form-group">
                    <label for="course" class="control-label">CATEGORY</label>
                    <select name="course" class="form-control" style="border-radius: 25px;">
                         <option value="DSA">Industry</option>
                         <option value="System_Analysis">Plumber</option>
                         <option value="Numerical_Analysis">Residential</option>
                         <option value="Calculus">Calculus</option>
                    </select>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="department" class="control-label">Some stuff</label>
                    <select name="department" class="form-control">
                       <option value="ICT">item</option>
                       <option value="English">some items shall loaded from the database later</option>
                       <option value="French">French</option>
                       <option value="Special_Education">don't worry</option>
                       <option value="Policalscience">the logic is done</option>
                    </select>
                    <span class="help-block"></span>
                </div>
                <div class="form-group">
                    <label for="batch" class="control-label">some menu</label>
                    <select name="batch" class="form-control" style=" border-radius: 25px;">
                       {% for x in range %}
                          <option value="{{x}}">{{x}}</option>
                       {% endfor %}
                    </select>
                    <span class="help-block"></span>
                </div>
                {% if directpost %}
                 <button  class=" btn btn-success" id="{{submitButtonId}}">{{submitButtonText}}</button>
                {% endif %}
            </form>
            <!--
            {% if not directpost %}
              <div class="form-group">
                 <button  class=" btn btn-success" id="{{submitButtonId}}">{{submitButtonText}}</button>
              </div>
            {% endif %}
              {% if ipButton %}
               <div class="form-group">
                 <input id="{{ipwebcamInputId}}" class="form-control" name="{{ipwebcamInputName}}" type="text" placeholder="IP Webcam Hosting Url (http://ip-address)">
               </div>
               <button  class="btn btn-success" id="{{ipwebcamSubmitButtonId}}">{{ipwebcamSubmitButtonText}}</button>
              {% endif %}
-->
        </div>
  <div class="modal"><!-- Place at bottom of page --></div>
